@import 'variables';
@import 'colors';

body {
  margin: 0;
  background: #e6e6e0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
  position: relative;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media all and (min-width: $second-breakpoint) {
    height: 180px;
  }
  h2 {
    text-transform: uppercase;
    width: 100px;
    color: white;
    margin: 0 40px;
    @media all and (min-width: $second-breakpoint) {
      margin-left: 80px;
      font-size: 2.2rem;
    }
  }
  nav {
    display: none;
    @media all and (min-width: $second-breakpoint) {
      display: block;
      margin-right: 80px;
    }
    a {
      font-size: 1.2em;
      text-transform: uppercase;
      font-family: Verdana, Geneva, sans-serif;
      color: white;
      text-decoration: none;
      margin-left: 30px;
    }
  }
  .menu-icon {
    width: 35px;
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 40px;
    @media all and (min-width: $second-breakpoint) {
      display: none;
    }
    .bar {
      height: 3px;
      width: 100%;
      background: white;
    }
  }
}

.hero {
  background: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  @media all and (min-width: $second-breakpoint) {
    height: 100vh;
  }
  .lead {
    text-align: center;
    color: white;
    margin-top: 100px;
    @media all and (min-width: $second-breakpoint) {
      margin-top: 25vh;
      font-size: 1.6rem;
    }
    h4 {
      font-family: Verdana, Geneva, sans-serif;
      margin: 0;
      font-weight: normal;
      font-size: 1.1em;
    }
    h1 {
      text-transform: uppercase;
      font-size: 3em;
      margin: 5px 0 2px;
    }
    .lead-br {
      height: 5px;
      width: 200px;
      background: white;
      margin: 0 auto;
    }
  }
}

.search-bar {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darken(#646461, 20%);
  a {
    color: #bdbdb7;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
    &#more {
      color: $color-orange;
      border-left: 1px solid #bdbdb7;
      padding-left: 20px;
      &:hover {
        color: lighten($color-orange, 20%);
      }
    }
    &:hover {
      color: white;
    }
  }
  nav {
    margin-left: 40px;
    color: white;
    a {
      margin-left: 20px;
    }
  }
  .search-btn {
    margin-right: 40px;
    display: flex;
    align-items: center;
    img {
      margin-left: 10px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  @media all and (min-width: $first-breakpoint) {
    flex-direction: row;
    align-items: flex-start;
  }
  section {
    height: 250px;
    width: calc(100% - 30px);
    margin-top: 15px;
    border-radius: 3px;
    @media all and (min-width: $first-breakpoint) {
      margin-top: 0;
      width: 100%;
      height: 325px;
    }
    &.half {
      @media all and (min-width: $first-breakpoint) {
        width: 50%;
        align-self: flex-start;
      }
    }
    .icon-wrap {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover .icon {
        transform: scale(1.5);
        transition: .3s ease-in;
      }
      .icon {
        transform: scale(1);
        transition: .3s ease-in;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background: rgba(100, 100, 97, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        @media all and (min-width: $first-breakpoint) {
          height: 80px;
          width: 80px;
        }
        img {
          height: 60%;
        }
      }
    }
    .title {
      position: relative;
      top: -60px;
      left: 20px;
      .section-br {
        height: 5px;
        width: 40px;
        background: $color-orange;
      }
      h2 {
        color: white;
        font-family: Verdana, Geneva, sans-serif;
        text-transform: uppercase;
        margin-top: 10px;
      }
    }
  }
}

// Make sections with images as backgrounds
@mixin make-article($num) {
  #s#{$num} {
    background: url(../img/#{$num}.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@for $i from 1 through 6 {
  @include make-article($i);
}
